.container {
    display: flex;
}
.sidepannel{
    flex: 0;
    border-left: 10px solid #ccc;
    margin: 10px;
    padding: 30px;
}
.sidepannel div{
    flex: 1;
    margin: 15px;
    padding: 20px;
    border: 2px solid #ccc;
    width: 100px;
}
.maincontent{
    flex: 1;
    margin: 15px;
    padding: 20px;
    width: auto;  
}
.navbarelement{
    flex: 1;
    margin: 2px;
    background-color: #f0efed;
}
.navbarelement p{
    color: #4c2b20;
}
.navbarelement a{
    color: #4c2b20;
}
p{
    font-family: 'Courier New', monospace;
    line-height: 2;
}
h1{
    font-family: 'Courier New', monospace;
    color: #4c2b20;
}
h2{
    font-family: 'Courier New', monospace;
    color: #4c2b20;
}
h3{
    font-family: 'Courier New', monospace;
}