.container {
    display: flex;
}
.photo-shelf{
    display: flex;
    border: 2px dotted #ddd;
    margin: 10px;
    padding: 5px 50px 5px 50px;


}
.photo-frame{
    flex: 0;
    margin: 0px 50px 0px 50px;
    border: 5px solid #ccc;
}

.photo-frame img{
    width: 300px;
    padding: 0px;
}

.photo-footer{
    margin: 0px 15px 0px 0px;
    padding: 0px;
 
    text-align: right;
    font-size:75%;
    font-family: 'Courier New, Monospace';
    color: #4c2b20;
}



.blogpost-box{
    margin: 15px 15px;
    width: auto;

    border: 5px solid #ccc;    
}
.blogpost-head{
    flex: 0;
    padding-top: 0px; margin-top: -15px;
    padding-left: 15px;
    padding-bottom: 0px; margin-bottom: 25px;

    font-size:110%;
    font-family: 'Courier New, Monospace';
    color: #4c2b20;
}
.blogpost-content{
    flex: 1;
    padding-top: 0px; margin-top: -25px;
    padding-left: 15px; margin-left: 0px;
    padding-right: 0px; margin-right: 0px;
    padding-bottom: 0px; margin-bottom: -15px;

    border-top: 3px dotted #4c2b20;
    
    font-size: 85%;
    font-family: 'Courier New, Monospace';
    color: #4c2b20;
          
}
.blogpost-foot{
    flex: 0;
    padding-top: 0px; margin-top: -20px;
    padding-right: 25px;
    padding-bottom: 5px; margin-bottom: -10px;
   
    text-align: right;
    font-size:65%;
    font-family: 'Courier New, Monospace';
    color: #4c2b20;
}
.blogpost-pic{
    margin: -15px 0px 0px 0px;
    padding: 0px; 
}

.blogpost-pic div{
    flex: 0;
    margin: -25px 25px 15px 0px;
    padding: 0px 50px 0px 0px;   
    width: 100px;
    border: 3px dotted #4c2b20;
}

.sidepannel{
    flex: 0;
    border-left: 10px solid #ccc;
    margin: 10px;
    padding: 30px;
}
.sidepannel div{
    flex: 1;
    margin: 15px;
    padding: 20px;
    border: 2px solid #ccc;
    width: 100px;
}
.maincontent{
    flex: 1;
    margin: 15px;
    padding: 20px;
    width: auto;  
}
.navbarelement{
    flex: 1;
    margin: 2px;
    background-color: #f0efed;
}
p{
    font-family: 'Courier New', monospace;
    line-height: 2;
    color: #4c2b20;
}
h1{
    font-family: 'Courier New', monospace;
    color: #4c2b20;
}
h2{
    font-family: 'Courier New', monospace;
    color: #4c2b20;
}
h3{
    font-family: 'Courier New', monospace;
    color: #4c2b20;
}
a{
    color: #4c2b20;
}
